@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-Plus_Jakarta_Sans: var(--font-Plus_Jakarta_Sans);
  --font-anton: var(--font-anton);
  --font-jetbrains: var(--font-jetbrains);
  --font-press-start: var(--font-press-start);
}
